<table>
    <tr>
        <th>
            <h3> Contato </h3>
        </th>
        <th id="maps" rowspan="2">
            <iframe width="100%" height="100%" frameborder="0" scrolling="no" marginheight="0" marginwidth="0" src="https://maps.google.com.br/?ie=UTF8&amp;t=m&amp;ll=-22.713292,-46.77103&amp;spn=0.011876,0.025706&amp;z=15&amp;output=embed"></iframe>
        </th>
        <td rowspan="2">
            {% include "components/newsletter.html" %}
        </td>
    </tr>

    <tr> 
        <td>
            <p>
            221B Baker Street<br>
            London - England<br>
            Fone: 666-666-666<br>

            <a href="https://maps.google.com.br/?ie=UTF8&amp;t=m&amp;ll=-22.713292,-46.77103&amp;spn=0.011876,0.025706&amp;z=15&amp;source=embed" style="text-align:right" target="_blank">Exibir mapa ampliado</a>
            </p>
        </td>
    </tr>
</table>
