<div id="footer_struct1">
    <p><b>Navegação:</b></p>
    <p>
        <a href="#">Venda</a></br>
        <a href="#">Aluguel</a></br>
        <a href="#">Venda</a></br>
        <a href="#">Contato</a></br>
    </p>
</div>

<div id="footer_struct2">
    <p><b>Termos de Serviço:</b></p>
    <p>
        <a href="#">Para Anunciantes</a></br>
        <a href="#">Para Visitantes</a></br>
    </p>
    <p><b>Termos de Privacidade:</b></p>
    <p>
        <a href="#">Para Anunciantes</a></br>
        <a href="#">Para Visitantes</a></br>
    </p>
</div>

<div id="footer_struct3">
    <p><b>Informações:</b></p>
    <p>
        <a href="#">Sobre Nós</a></br>
        <a href="#">Entre em contato</a></br>
        <a href="#">Telefone</a></br>
    </p>
</div>

<div style="clear:both;"></div>
