{% extends "base_two_columns.html" %}

{% block stylesheets %}
    {{ block.super }}
    <link rel="stylesheet" href="{{ STATIC_URL }}css/re_filter_stripes.css"></script>
    <link rel="stylesheet" href="{{ STATIC_URL }}jquery-ui-1.10.4.custom/css/trontastic/jquery-ui-1.10.4.custom.min.css">
{% endblock%}

{% block scripts %}
    {{ block.super }}
    <script src="{{ STATIC_URL }}/jquery-ui-1.10.4.custom/js/jquery-ui-1.10.4.custom.min.js"></script>
    <script src="{{ STATIC_URL }}js/filter_bottom_behavior.js"></script>
    <script src="{{ STATIC_URL }}js/re_filter_sliders.js"></script>
    <script type="text/javascript">

    // init the first list
    $.ajax({
        type: "GET",
        url: "{% url 'filter.views.f_no_filter' %}",
        success: function(data){
            $("#content").html(data);
            update_sliders();
            redirect_action_via_ajax();
        }
    });

    // Select the filter
    $(function(){
        $("#id_which_kind").change(function(){
            selected_option = $("#id_which_kind").val();
            $.ajax({
                type: "GET",
                data: {
                    kind: selected_option
                },
                url: "{% url 'filter.views.f_select_form' %}",
                success: function(data){
                    $("#filter").html(data);
                    update_sliders();
                    redirect_action_via_ajax();
                }
            });
        });
    });

    </script>

{%  endblock %}

{% block pre_filter %}
        <form action="{% url 'real_estate.views.re_index' %}" method="GET">
            {{ form.as_p }}
        </form>
{% endblock %}

{% block filter %}
        <!-- Content made via ajax request to another view -->
{% endblock %}

{% block content %}
        <!-- Content made via ajax request to another view -->
{% endblock %}

