{% extends "base.html" %}

{% block stylesheets %}

    <link rel="stylesheet" type="text/css" href="{{ STATIC_URL }}css/h_nav_bar.css" media="screen" />
    <link rel="stylesheet" type="text/css" href="{{ STATIC_URL }}css/introbox.css" media="screen" />
    <link rel="stylesheet" type="text/css" href="{{ STATIC_URL }}css/wallpaper.css" media="screen" />

    <!--
    /* http://themeforest.net/item/full-state-responsive-and-bootstrap-real-state/4800556?WT.ac=solid_search_item&WT.seg_1=solid_search_item&WT.z_author=iwthemes */
    -->
{%  endblock %}

{% block body %}

<div id=holder>

    <div id="wallpaper">
        <img src="{{ STATIC_URL }}wallpaper/{{ wallpaper }}" alt="">
    </div>

    <div id="lowerholder"> 

        <div id="navigator">
{% include "components/hnavbar.html" %}
        </div>

        <div id="introbox">
            {% block box %}{% endblock %}
        </div>

    </div>

</div>

{% endblock %}
