{% load static from staticfiles %}
{% for property in property_list %}
<div class="listitem {% cycle 'darkstrip' 'lightstrip'%}">
    <table class="wide_photo">
        <tr>
            <th rowspan="3" class="">
                <a href="{{ property.get_absolute_url }}">
                    <img src="{{ MEDIA_ROOT }}{{ property.thumbnail }}">
                </a>
            </th>
            <th>{{ property.verbose_category }}
                {{ property.neighborhood }}
                 <b>Preço: R$ {{ property.price }}</b>
            </th>
        </tr>

        <tr>
            <td>
                Area: {{ property.area }}{{ property.unit }} |
                Quartos: {{ property.rooms }} |
                WC: {{ property.rooms }} |
                Garagem: {{ property.rooms }}
            </td>
        </tr>

        <tr>
            <td>
                 Aluguel: R$ {{ property.rent }} |
                 Condomínio: R$ {{ property.condo }} |
                <a href="{{ property.get_absolute_url }}">Detalhes</a>
            </td>
        </tr>
    </table>
</div>
{% endfor %}
