#hnavbar {
    font-family: Arial, Helvetica, sans-serif;
    font-size:150%
}

#hnavbar ul{
    list-style-type:none;
    margin:0;
    padding:0;
    overflow:hidden;
}

#hnavbar li{
    float:left;
}

#hnavbar a:link,a:visited{
    display:block;
    width:200px;
    font-weight:bold;
    color:#FFFFFF;
    background-color:#98bf21;
    text-align:center;
    padding:4px;
    text-decoration:none;
    text-transform:uppercase;
    }

#hnavbar a:hover,a:active{
    background-color:#7A991A;
}
