{% extends "base.html" %}

{% block headers %}

    <link rel="stylesheet" type="text/css" href="{{ STATIC_URL}}css/two_columns.css" media="screen" />
    <link rel="stylesheet" type="text/css" href="{{ STATIC_URL }}css/h_nav_bar.css" media="screen" />
    <link rel="stylesheet" type="text/css" href="{{ STATIC_URL }}css/introbox.css" media="screen" />
    <link rel="stylesheet" type="text/css" href="{{ STATIC_URL }}css/wallpaper.css" media="screen" />

    <script src="{{ STATIC_URL }}js/filter_bottom_behavior.js"></script>
    <script type="text/javascript">

        $.ajax({
            type: "GET",
            url: "{% url 'real_estate.views.re_filter' %}",
            success: function(data){
                $("#content").html(data);
            }
        });

        /* http://themeforest.net/item/full-state-responsive-and-bootstrap-real-state/4800556?WT.ac=solid_search_item&WT.seg_1=solid_search_item&WT.z_author=iwthemes */

    </script>

{%  endblock %}

{% block content %}

<div id="wrap">
    <div id="header">
        <!-- TEMP -->
        <h1>Hallo!</h1>
    </div>

    <div id="menu">
        <!-- TEMP -->
        Foobar 
    </div>
    
    <div id="filter">
        <!-- Filter form goes here -->
        {% include "components/re_filter_form.html" %} 
    </div>

    <div id="content">
        <!-- Properties Info goes here -->
        Foobar 
    </div>

    <div id="footer"> 
        Foobar 
    </div>
</div>


{% endblock %}
