{% extends "base_two_columns.html" %}

{% block stylesheets %}
    {{ block.super }}

    <link rel="stylesheet" type="text/css" href="{{ STATIC_URL }}css/details.css" media="screen" />

{% endblock %}

{% block scripts %}
    <script src="{{ STATIC_URL }}js/re_photo_galery.js"></script>
{% endblock %}

{% block filter %}

    </br>
    Mostre interesse por este imovel!
    <form id="contactform" action="{% url "real_estate.views.re_contact" %}" method="GET">

    <textarea name="description" rows="4" cols="34">{{ description }}</textarea></br>
    <input name="pk" type="hidden" value="{{ property.pk }}"></br>
    Nome: <input name="name" size="30"></br>
    Email: <input name="email" size="30"></br>
    Fone: <input name="phone" size="30"></br>
    Receber mais informações? <input value="newsletter" type="checkbox" checked="checked"></br>
    <input value="Contato" type="submit"/></br>

    </form>

{% endblock %}

{% block content %}
    <div id="details_struct1">
        <img id="large_photo" src="#" height="60%" width="400"/>
    </div>

    <div id="details_struct2">
        Preço: R$ {{ property.price }}</br>
        Aluguel: R${{ property.rent }}</br>
        Condomínio: R${{ property.condo }}</br>
        Tipo: {{ property.category }}</br>
        Cidade: {{ property.city }}</br>
        Bairro: {{ property.neighborhood }}</br>
        Area: {{ property.area }} m²</br>
        # Quartos: {{ property.rooms }}</br>
        # Banheiros: {{ property.wc }}</br>
        # Vagas na Garagem: {{ property.garage }}</br>
    </div>
    <div style="clear:both"></div>

    <div>
        {% for thumbnail in thumbnails_list %}
        <!-- TODO: Make the ajax link here. -->
        <a class="call_photo_ajax" href="{% url 'real_estate.views.re_photos' thumbnail.pk %}">
            <img src="{{ MEDIA_ROOT }}{{ thumbnail.get_thumbnail_url }}">
        </a>
        {% endfor %}
    </div>

{% endblock %}

