{% extends "base.html" %}

{% block headers %}

    <style type="text/css">

    body, html{
        margin:0;
        padding:0;
        color:#000;
        background:#a7a09a; 
    }

    #wrap{
        width: 70%;
        margin:0 auto;
        background: #99c;
    }

    #header {
        background: #ddd;
    }

    #nav {
        background: #c99;
    }
    #content { 
        width: 70%;
        float: right;
        background: #9c9;
    }

    #filter {
        width: 30%;
        float: left;
        background: #c9c;
    }
    #footer {
        clear: both;
        background: #cc9;
    }

    </style>

{%  endblock %}

{% block content %}

<div id="wrap">
    <div id="header">
        <!-- TEMP -->
        <h1>Hallo!</h1>
    </div>

    <div id="menu">
        <!-- TEMP -->
        Foobar 
    </div>
    
    <div id="filter">
        </br>
        Mostre interesse por este imovel!
        <form id="contactform" action="{% url "real_estate.views.re_contact" %}" method="GET">
            <textarea name="description" rows="4" cols="34"
                >{{ description }}</textarea></br>
            <input name="pk" type="hidden" value="{{ property.pk }}"></br>
            Nome: <input name="name" size="30"></br>
            Email: <input name="email" size="30"></br>
            Fone: <input name="phone" size="30"></br>
            Receber mais informações? <input value="newsletter"
                type="checkbox" checked="checked"></br>
            <input value="Contato" type="submit"/></br>

        </form>
    </div>

    <div id="content">
        <img src="{{ STATIC_URL }}/images/generic_house.jpg"
            height="300" width="400"/></br>
        Preço: {{ property.price }}</br>
        Tipo: {{ property.category }}</br>
        Endereço: {{ property.address }}</br>
    </div>

    <div id="footer"> 
        Foobar 
    </div>
</div>

{% endblock %}

