{% extends "base_two_columns.html" %}

{% block filter %}
    </br>
    Mostre interesse por este imovel!
    <form id="contactform" action="{% url "real_estate.views.re_contact" %}" method="GET">

    <textarea name="description" rows="4" cols="34">{{ description }}</textarea></br>
    <input name="pk" type="hidden" value="{{ property.pk }}"></br>
    Nome: <input name="name" size="30"></br>
    Email: <input name="email" size="30"></br>
    Fone: <input name="phone" size="30"></br>
    Receber mais informações? <input value="newsletter" type="checkbox" checked="checked"></br>
    <input value="Contato" type="submit"/></br>

    </form>
{% endblock %}

{% block content %}
    <img src="{{ STATIC_URL }}/images/generic_house.jpg" height="300" width="400"/></br>
    <hr>
    Preço: R$ {{ property.price }}</br>
    Aluguel: R${{ property.rent }}</br>
    Condomínio: R${{ property.condo }}</br>
    <hr>
    Tipo: {{ property.category }}</br>
    Cidade: {{ property.city }}</br>
    Bairro: {{ property.neighborhood }}</br>
    <hr>
    Area: {{ property.area }} m²</br>
    # Quartos: {{ property.rooms }}</br>
    # Banheiros: {{ property.wc }}</br>
    # Vagas na Garagem: {{ property.garage }}</br>

{% endblock %}

