{% extends "base_two_columns.html" %}

{% block scripts %}
    {{ block.super }}

    <script src="{{ STATIC_URL }}js/filter_bottom_behavior.js"></script>
    <script type="text/javascript">

        $.ajax({
            type: "GET",
            url: "{% url 'real_estate.views.re_filter' %}",
            success: function(data){
                $("#content").html(data);
            }
        });

    </script>

{%  endblock %}

{% block filter %}
        <!-- Filter form goes here -->
        {% include "components/re_filter_form.html" %} 
{% endblock %}

{% block content %}
        <!-- Content made via ajax request to another view -->
{% endblock %}

