{% extends "base.html" %}
{% load static from staticfiles %}

{% block stylesheets %}
    {{ block.super }}

    <link rel="stylesheet" type="text/css" href="{% static "css/two_columns.css" %}" media="screen" />
    <link rel="stylesheet" type="text/css" href="{% static "css/menu_navbar.css" %}" media="screen" />

{%  endblock %}

{% block body %}

<div id="wrap">
    <div id="header">
        <div id="header_struct1">
            <img src="{% static "images/header_logo.png" %}">
        </div>
        <div id="header_struct2">
            <h1>C.E.Vido Imóveis</h1>
            <h2>Nulla tenaci invia est via</h2>
        </div><div style="clear:both"></div>
    </div>

    <div id="menu">
        {% include "components/hnavbar.html"%}
    </div>

    <div id="pre_filter">
        {% block pre_filter %}
        <!-- Filter form goes here -->
        {% endblock %}
    </div>

    {% comment %}
    <div id="filter">
        {% block filter %}
        <!-- Filter form goes here -->
        Foobar
        {% endblock %}
    </div>
    {% endcomment %}

    <div id="content">
        {% block content %}
        <!-- Properties Info goes here -->
        Foobar
        {% endblock %}
    </div>

    <div id="footer">
        {% include "text/footer.html" %}
    </div>
</div>

{% endblock %}

