<table>
    {% for property in property_list %} 
        <tr>
            <th rowspan="3" class="">
                <a href="{{ property.get_absolute_url }}">
                    <img src="{{ MEDIA_ROOT }}{{ property.thumbnail }}">
                </a>
            </th>
            <th>{{ property.address }}</th>
        </tr>

        <tr>
            <td>
                R$ {{ property.price }} Quartos: {{ property.rooms }}

            </td>
        </tr>

        <tr>
            <td>
                {{ property.category }}
                <a href="{{ property.get_absolute_url }}">Detalhes</a>
            </td>
        </tr>
    {% endfor %}
</table>
